body{
  margin:0;
}

.logo{
  height:75px;
  float:left;

}

.twitter-logo{
  float:right;
  height: 60px;
  margin:10px 20px;
}

.youtube-logo{
  float:right;
  height: 60px;
  margin:10px 20px;
}
.instagram-logo{
  float:right;
  height: 60px;
  margin:10px 20px;
}

header{
  height: 80px;
  background-color: white;
  width:100%;
  border-width:10px;
  border-style: double;
  border-color: rgb(40, 49, 65);
}

.back{
  padding: 40px 0 1000px 0;
  width:100%;
  position: absolute;
  z-index: -1;
  
}
ul{
  list-style: none;
  margin:0 0;
}

.top-wrapper li{
  font-size: 40px;
  font-family:"arial black";
  color:rgb(83, 77, 69);
  width:100px;
  padding:20px 20px;
}

.back2{
  height: 500px;
  width:100%;
  position:absolute;
  top:85px;
  left:0px;
  z-index: -2;
}


.ind-inada{
  color:black;
  font-size:30px;
}
